# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.space

dist
.DS_Store
node_modules
/package

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Optional npm cache directory
.npm
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vercel
.vscode/

.vercel
.vscode/